<link rel="stylesheet" href="/css/index/features_showcase.css" />
<script type="text/javascript" src="/js/index/features_showcase.js" async="async"></script>

<div id="features-showcase">
    <div id="features-showcase-container"> 
        <span id="features-showcase-heading"> Garenteed To Make You a Better Coder </span> 
        <p id="features-showcase-content"> 
            Solve coding challenges in JavaScript.
            Discuss solutions with other users in the forums and submit solutions
            of your own.
        </p>
        <div id="features-showcase-buttons">
            <div class="features-showcase-button"> Code Challenges </div>
            <div class="features-showcase-button"> Data Structures and Algorithms </div>
        </div>
        <img id="features-showcase-image" src="/img/snake.png"/> 
    </div>
</div>
