<script type="text/javascript" src="/js/index/slideshow.js" async="async"> </script>
<link rel="stylesheet" href="/css/index/slideshow.css" />

<div class="slideshow" > 

    <div id="welcome-slide" class="slide"> 
        <div class="welcome-slide-content">
            <span> The #1 website to learn coding and algorithms in JS </span>
            <p> Improve your skills with Javascript </p>
            <div> Take first challenge -> </div>
        </div>
        <img style="width: 400px; height: 400px;" class="code-editor-image" src="../img/checked.svg" />
    </div> 

    
    <div class="slide"> Slide 2 </div> 
</div>