<script type="text/javascript" src="/js/index/slideshow.js" async="async"> </script>
<link rel="stylesheet" href="/css/index/slideshow.css" />

<div class="slideshow" > 

    <div id="welcome-slide" class="slide"> 
        <div class="gradient-div">
        <div class="welcome-slide-content">
            <span class="welcome-slide-heading"> The #1 website to learn coding and algorithms in JS </span>
            <p class="welcome-slide-paragraph"> Improve your skills with Javascript </p>
            <div class="welcome-slide-button"> Take first challenge -> </div>
        </div>
        <img class="code-editor-image" src="../img/code-editor-image.png" />
        </div>
    </div> 


    <div id="collaborate-slide" class="slide">
        <div class="collaborate-slide-content">
            
        </div>
    </div> 
</div>