
#question-title { width: 600px }
#question-category { width: 200px }
#question-comments { width: 150px }
#question-views { width: 150px }
#question-activity { width: 200px }


#header li {
    margin-right: 20px;
}

#header div {
    margin-right: 100px;
}

#profile-image
{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#settings-image
{
    margin-left: 270px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}







