#header li {
    margin-right: 20px;
}

#header div {
    color: white;
    margin-right: 100px;
}

#profile-image
{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#settings-image
{
    /* margin-left: 270px; */
    border-radius: 00%;
    width: 30px;
    height: 30px;
}

a:visited {
    color: #888888;
}
