

<div class="challenge-description" > 
    <div id="challenge-title"> <%= editor_data.challenge_title %> </div>
    <div id="challenge-objective"> 
        <p> Objective </p>
        <p> <%= editor_data.challenge_objective %> </p>
    </div> 
</div>