<link rel="stylesheet" href="/css/editor/challenge_description.css" />

<div class="challenge-description-container" style="margin-left: 20px;" >
    <div id="challenge-title">
        <!-- <h1> <%= data.title %> </h1> -->
        <p> <%= data.title %> </p>
     </div>
    <div id="challenge-task">
        <!-- <h4> Task </h4> -->
        <p> Task </p>
        <p> <%= data.question %> </p>
    </div>
</div>
