<link rel="stylesheet" href="/css/forum/comment-box.css" />

<div id="comment-box-container">
    <img src="/img/default-avatar.svg"> </img>
    <input type="text"> </input>
    <div id="post-comment" name="Post Comment"> </div>
</div>