<div class="discussion-comment-container-wrapper">
    <img class="discussion-icon discussion-comment-user-icon" src="/img/default-avatar.svg"> </img>
    <div class="discussion-comment-container">
        <div class="discussion-comment-user-name"> <%= reply.username %> </div>
        <div class="discussion-comment"> <%= reply.comment %> </div>
        <footer class="discussion-comment-footer"> Footer </footer>
    </div>
</div>