<div id="discussion-comment-container-wrapper">
    <img id="discussion-comment-user-icon" src="/img/default-avatar.svg"> </img>
    <div id="discussion-comment-container">
        <div id="discussion-comment-user-name"> <%= reply.username %> </div>
        <div id="discussion-comment"> <%= reply.comment %> </div>
        <footer id="discussion-comment-footer"> Footer </footer>
    </div>
</div>