<link rel="stylesheet" href="/css/forum/discussion-comment.css" />

<div id="discussion-comment-container-wrapper">
    <img id="discussion-comment-user-icon" src="/img/default-avatar.svg"> </img>
    <div id="discussion-comment-container">
        <div id="discussion-comment-user-name"> Username </div>
        <div id="discussion-comment"> Comment </div>
        <footer id="discussion-comment-footer"> Hello </footer>
    </div>
</div>