<link rel="stylesheet" href="/css/forum/reply-box.css" />

<div id="reply-box-container">
    <textarea > </textarea>
    <div id="post-reply"> reply </div>
    <div id="cancel-reply" onclick="hideReplyBox(event, this)" replyBoxID= "reply-box-<%= reply.id %>">
        cancel
    </div>
</div>


