<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Learn JavaScript!</title>
        <link rel="icon" href="img/emerald.png"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
        <meta name="copyright" content="Copyright Goes Here" />
        <meta name="description" content="A website to learn JavaScript!" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/games.css" />
        <script type='text/javascript' src='games/asteroids.js' async="async"></script>
    </head>
    <body onload="startGame()">
        <% include partials/header %>
        <div id="game-stage-div">
            <canvas id="game-canvas"></canvas>
        </div>
    </body>
</html>

