<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Learn JavaScript!</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
<meta name="copyright" content="Copyright Goes Here" />
<meta name="description" content="A website to learn JavaScript!" />
<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/challenges.css" />
<script type="text/javascript" src="js/http_requests.js" async="async"> </script>
<script type="text/javascript" src="js/challenges.js" async="async"> </script>
<script>
  window.document.onload = function(){
    var user_script_container = document.getElementById("user-script-container")
    user_script_container.selectionIndex = 0
  }

  var submitCode = function(){
    var user_script_container = document.getElementById("user-script-container")
    console.log("response")
    httpPostAsync("/challenge_request", user_script_container.value)
      .then(json_response => {
        console.log("response!")
      })
  }

  function onkd(e) {
    var tab_keycode = 9
    if (e.keyCode == tab_keycode){
        e.preventDefault();
        e.stopPropagation();
    }
  }
</script>
</head>
<body>
<% include partials/header %>
<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
      <div id="challenges-left-col" class="column">
          <% include partials/tree-view %>
      </div>
      <div id="challenges-right-col" class="column">
          <% include partials/challenge-element %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
