<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Learn JavaScript!</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
<meta name="copyright" content="Copyright Goes Here" />
<meta name="description" content="A website to learn JavaScript!" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />
  <style type="text/css" media="screen">

    .ace_editor {
        position: relative !important;
        margin: auto;
        height: 500px;
        width: 628px;
    }

  </style>
<script type="text/javascript" src="/js/http_requests.js" async="async"> </script>
<script type="text/javascript" src="/js/editor.js" async="async"> </script>
</head>
<body>
<% include partials/header %>
<% include partials/editor/challenge_description %>

<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
        <div style="width:1200px;">
          <div style="float:left;margin-left:40px;"><pre id="editor"><%= data.start_code %></pre></div>
          <div style="float:right;margin-left:40px;"><pre style="width:490px" id="output"></pre></div>
        </div>
        <script src="/js/editor/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            var output = ace.edit("output");

            editor.setTheme("ace/theme/gruvbox");
            editor.session.setMode("ace/mode/javascript");
            editor.renderer.setCursorStyle("smooth");
            editor.session.setUseWrapMode(true);
            editor.session.setWrapLimitRange(80, 80);

            output.setTheme("ace/theme/gruvbox");
            output.renderer.setCursorStyle("none");
            output.session.setUseWrapMode(true);
            output.session.setWrapLimitRange(60, 80);
            output.setOptions({readOnly: true, highlightActiveLine: false, highlightGutterLine: false});


            var back = function() {
                window.location='/challenges';
            }



            var submitCode = function(){
                document.getElementById("submitButton").style.visibility = "hidden";
                document.getElementById("submitButton").style.visibility = "hidden";
                document.getElementById("loader").style.visibility = "visible";
                var user_script_container = ace.edit("editor");
                httpPostAsync("/challenge_request/" + <%= data.id %>, user_script_container.getValue())
                    .then(res => {
                            var json = JSON.parse(res);
                            if (json.output[json.output.length-1] == "\n") {
                                json.output = json.output.substring(0, json.output.length - 1);
                            }

                            var output_editor = ace.edit("output");
                            document.getElementById("loader").style.visibility = "hidden";
                            document.getElementById("submitButton").style.visibility = "visible";
                            document.getElementById("resAns").textContent = "The answer is: "+json.ans;
                            output_editor.setValue(json.output);
                            output.selection.setRange({start: {row:0, column:0}, end: {row:0, column:0}});
                    })
            }
        </script>
        <button id="submitButton" class="buttonload" onclick="submitCode()">
            --Submit--
        </button>
        <button id="submitButton" class="buttonload" onclick="back()">
            Head back to challenges
        </button>
        <div id="loader" class="loader"></div>
        <div id="resAns"> </div>
    </div>
  </div>
</div>
</body>
</html>
