<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Learn JavaScript!</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
<meta name="copyright" content="Copyright Goes Here" />
<meta name="description" content="A website to learn JavaScript!" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />
  <style type="text/css" media="screen">

    .ace_editor {
        position: relative !important;
        margin: auto;
        height: 500px;
        width: 700px;
    }

  </style>
<script type="text/javascript" src="/js/http_requests.js" async="async"> </script>
<script type="text/javascript" src="/js/editor.js" async="async"> </script>
</head>
<body>
<% include partials/header %>
<% include partials/editor/challenge_description %>

<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
        <pre id="editor"><%= data.start_code %></pre>
        <script src="/js/editor/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/gruvbox");
            editor.session.setMode("ace/mode/javascript");
            editor.renderer.setCursorStyle("smooth");
            editor.session.setUseWrapMode(true);
            editor.session.setWrapLimitRange(80, 80);
        </script>
        <button id="submitButton" class="buttonload" onclick="submitCode()">
            --Submit--
        </button>
        <div id="loader" class="loader"></div>
        <div id="response"> </div>
    </div>
  </div>
</div>
</body>
</html>
