<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Learn JavaScript!</title>
<meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
<meta name="copyright" content="Copyright Goes Here" />
<meta name="description" content="A website to learn JavaScript!" />
<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
</head>
<body>
<div id="header">
    <h1>Learn JavaScript!</h1>
</div>
<div class="sidebar" id="navigation">
  <ul>
    <li id="lhome"><a href="index.html">Home</a></li>
    <li id="lchallenges"><a href="challenges.html">Challenges</a></li>
    <li id="lforum"><a href="forum.html">Forum</a></li>
    <li id="lgames"><a href="games.html">Games</a></li>
    <li id="llongin"><a href="login.html">Log In</a></li>
    <li id="lsignup"><a href="sign-up.html">Sign Up</a></li>
  </ul>
</div>

<!-- SAD -->
<!-- <div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
      <h4>Here is where the forum will go.</h4>
    </div>
  </div>
</div> -->

<div class="sidebar">
  <ul>
    <li id="forum-name" >Name</li>
    <li id="forum-description" >Desription</li>
    <li id="forum-questions" >Questions</li>
  </ul>
</div>
<div class="sidebar">
    <ul>
      <li id="forum-name"><a href="general-forum.html"> <%= forum-name %> </a></li>
      <li id="forum-description"> <%= forum-description %> </li>
      <li id="forum-questions"> <%= forum-questions %> </li>
    </ul>
</div>
<div class="sidebar">
    <ul>
        <li id="forum-name"><a href="challenge1-forum.html"> Challenge1 </a></li>
      <li id="forum-description"> The challenge1 forum </li>
      <li id="forum-questions"> 0 </li>
    </ul>
</div>


</body>
</html>

