<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Learn JavaScript!</title>
<meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
<meta name="copyright" content="Copyright Goes Here" />
<meta name="description" content="A website to learn JavaScript!" />
<link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
</head>
<body>
<% include partials/header %>
<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
      <h4> Welcome to the one stop shop to learn how to program JavaScript!</h4>
      This website aims to help you learn how to program with Javascript by completing are many challenges that we have specially designed to test your skills! Feel free to ask questions in the forum and don't forget to play some games!
    </div>
  </div>
</div>
</body>
</html>
