<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Learn JavaScript!</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
        <meta name="copyright" content="Copyright Goes Here" />
        <meta name="description" content="A website to learn JavaScript!" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/login.css" />
    </head>
    <body>
        <% include partials/header %>

        <div id="wrapper">
            <h4>Login In</h4>
            <form action="/login-user" method="post">
                <div class="container">
                    <label for="email-field"><b>Email</b></label>
                    <input id="email-field" type="text" placeholder="Enter Email"></input>

                    <label for="password-field"><b>Password</b></label>
                    <input id="password-field" type="password" placeholder="Enter Password" name="psw"></input>

                    <button style="font-size: 24px" type="submit"><b>Login</b></button>
                    <label>
                        <input style="float:left" type="checkbox" checked="checked" name="remember" />
                        <div style="margin-left: 20px; font-size: 15px; color: white;"> Remember me </div>
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw"><a href="#">Forgot password?</a></span>
                </div>
            </form>
        </div>
    </body>
</html>
