<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Learn JavaScript!</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
        <meta name="copyright" content="Copyright Goes Here" />
        <meta name="description" content="A website to learn JavaScript!" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/home.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/login.css" />
    </head>
    <body>
        <% include partials/header %>
        <div id="wrapper">
            <h4>Sign Up</h4>

            <form id="signupForm" method="post" action="/sign-up_submission">
                <div class="container">
                    <label><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email"></input>

                    <label><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname"></input>

                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw1"></input>

                    <label><b>Re-Enter Password</b></label>
                    <input type="password" placeholder="Re-Enter Enter Password" name="psw2"></input>

                    <button type="submit" value="Submit">Sign Up</button>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw"><a href="login">Already have an account?</a></span>
                </div>
                </div>
            </form>
        </div>
    </body>
</html>
