<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Learn JavaScript!</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Joshua Van Leeuwen and Charana Nandasena" />
        <meta name="copyright" content="Copyright Goes Here" />
        <meta name="description" content="A website to learn JavaScript!" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/asteroids.css" />
        <script src="/games/tetris/libraries/p5.js" type="text/javascript"></script>
        <script src="/games/tetris/libraries/p5.dom.js" type="text/javascript"></script>
        <script src="/games/tetris/libraries/p5.sound.js" type="text/javascript"></script>
        <script src="/games/tetris/sketch.js" type="text/javascript"></script>
        <script src="/games/tetris/square.js" type="text/javascript"></script>
        <script src="/games/tetris/lineShape.js" type="text/javascript"></script>
        <script src="/games/tetris/tShape.js" type="text/javascript"></script>
        <script src="/games/tetris/boxShape.js" type="text/javascript"></script>
        <script src="/games/tetris/zShape.js" type="text/javascript"></script>
        <script src="/games/tetris/sShape.js" type="text/javascript"></script>
        <script src="/games/tetris/lShape.js" type="text/javascript"></script>
        <script src="/games/tetris/lOpShape.js" type="text/javascript"></script>
        <script src="/games/tetris/board.js" type="text/javascript"></script>
    </head>
    <body onload="startGame()">
        <% include partials/header %>
        <div id="game-rules-div" class="column">
            Content
        </div>
        <div id="game-stage-div" class="column">
            <canvas id="game-canvas"></canvas>
        </div>
    </body>  
</html>

