<link rel="stylesheet" href="../css/challenge-element.css" />

<% challenges.forEach(function(challenge) { %>
    <div id="<%= challenge.title %>" class="challenge-element">
        <div class="column"> 
        <div id="challenges-element-left-col" class="column-container">
            <div> 
                <img class="completed-image" src="../img/checked.svg" />
                <div class="challenge-heading" > <%= challenge.title %> </div> 
            </div>
            <br/>
            <div id="challenge-description"> 
                <%= challenge.description %>
            </div>
        </div>
        </div>
        <div class="column"> 
        <div id="challenges-element-right-col" class="column-container">
            <% if(challenge.user.passed){ %>
            <div class="passed-percentage" > Passed:<%= challenge.user.passed_percentage %> </div>
            <button class="try-again-button" > Try Again </button>
            <% } %>
            <% if(!challenge.user.passed){ %>
                <button class="solve-button" > Solve </button>
            <% } %>
        </div> 
        </div>
    </div>
    <br/>
<% }) %>
