<link rel="stylesheet" href="../css/header.css" />

<div class="sidebar navigation" id="header" >
  <ul>
    <li> <div> Learn Javascript </div> </li>
    <li><a href="index">Home</a></li>
    <li><a href="challenges">Challenges</a></li>
    <li><a href="forum">Forum</a></li>
    <li><a href="games">Games</a></li>
    <li id="login" ><a href="login">Log In</a></li>
    <li><a href="sign-up">Sign Up</a></li>
    <li> <img id="settings-image" src="img/settings-cog.svg" /> </li>
    <li> <img id="profile-image" src="img/death.jpg" /> </li>
  </ul>
</div>