<link rel="stylesheet" href="/css/header.css" />

<% include user-options.ejs %>
<div class="sidebar navigation" id="header" >
  <ul>
    <li> <div id="header-logo"> Learn Javascript </div> </li>
    <li><a href="/index">Home</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <li><a href="/forum">Forum</a></li>

    <li class="dropdown">
      <a href="#" > Games </a>
      <div class="dropdown-content">
        <a href="/snake">
          <img src="/img/snake.png" />
          Snake
        </a>
        <a href="/tetris">
          <img src="/img/tetris.png" />
          Tetris
        </a>
        <a href="/asteroids">
          <img src="/img/asteroids.png" />
          Asteroids
        </a>
      </div>
    </li>

    <li id="login" ></li>
    <% if(!session_valid) { %>
      <li style="float: right"> <img  id="profile-image" src="/img/default-avatar.svg" /> </li>
    <!-- <li style="float: right"> <a href="/sign-up">Sign Up</a> </li>
      <li style="float: right"> <a href="/login">Log In</a> </li>
    <% } %> -->
    <% if(session_valid) { %>
      <li style="float: right"> <img  id="profile-image" src="/img/death.jpg" /> </li>
      <li style="float: right"  > <img id="settings-image" src="/img/settings-cog.svg" /> </li>
    <% } %>
  </ul>

</div>
