<link rel="stylesheet" href="/css/index-overlay.css" />

<div id="index-overlay-container">
    <img id="site-logo" src="/img/emerald.svg" />
</div>

<div id="floating-footer">
    <img src="/img/facebook-logo.png" />
    <img src="/img/twitter-logo.png" />
    <img src="/img/instagram-logo.png" />
</div>
