<link rel="stylesheet" href="/css/index-overlay.css" />
<script type="text/javascript" src="js/index-overlay.js" async="async"> </script>

<div id="index-overlay-container">
    <img id="site-logo" src="/img/emerald.svg" />
</div>

<div id="index-slideshow">
    <div class="index-slideshow-div"> Love web design? </div>
    <div class="index-slideshow-div"> Love visual design? </div>
    <div class="index-slideshow-div"> Love javascript? </div>
    <div class="index-slideshow-div"> Start today! </div>
</div>


<div id="index-floating-footer">
    <img src="/img/facebook-logo.png" />
    <img src="/img/twitter-logo.png" />
    <img src="/img/instagram-logo.png" />
</div>
