<link rel="stylesheet" href="/css/login-form.css" />
<script type="text/javascript" src="/js/login-form.js" async="async"> </script>

<form id="login-form" method="post" action="/sign-in_submission">
    <div>
        <div>
            <img src="/img/username.svg"> </img>
        </div>
        <input type="text" placeholder="   username" name="uname"></input>
    </div>
    <div>
        <div>
            <img src="/img/password.svg"> </img>
        </div>
        <input type="password" placeholder="   password" name="password"></input>
    </div>
    <span id="login-form-error"> </span>
    <div>
        <button type="submit" value="Submit">Sign In</button>
    </div>
</form>
