<link rel="stylesheet" href="/css/profile.css" />
<script type="text/javascript" src="/js/profile.js" async="async"></script>
<script type="text/javascript" src="/js/http_requests.js" async="async"> </script>

<div id="user-options-popup">
    <% include transparent-black-background %>
    <div id="user-options">
        <a id="login-button" href="#"> Login </a>
        <a href="/sign-up"> Sign Up </a>

        <a id="login-button">
            <label for="fileUpload">Upload Profile Picture</label>
            <input type='file' id="fileUpload" style="visibility:hidden">  </input>
        </a>
    </div>
</div>
