<link rel="stylesheet" href="/css/profile.css" />
<script type="text/javascript" src="/js/profile.js" async="async"></script>
<script type="text/javascript" src="/js/http_requests.js" async="async"> </script>

<div id="user-options-popup">
    <% include transparent-black-background %>
    <div id="user-options">
        <input type='file' id="fileUpload">  Upload Profile Picture  </input>
        <canvas id="canvas" width="512" height="512"></canvas>
    </div>
</div>
