<link rel="stylesheet" href="/css/user-options.css" />
<script type="text/javascript" src="/js/user-options.js" async="async"></script>

<div id="user-options-popup">
    <% include transparent-black-background %>
    <div id="user-options">
        <a id="login-button" href="#"> Login </a>
        <a href="/sign-up"> Sign Up </a>
    </div>
    <div id="login-form-popup">
        <% include login-form.ejs %>
    </div>
</div>
