<link rel="stylesheet" href="/css/user-options.css" />
<script type="text/javascript" src="js/user-options.js" async="async"> </script>

<div id="user-options-popup">
    <% include transparent-black-background %>
    <div id="user-options">
        <a href="/login"> Login </a>
        <a href="/sign-up"> Sign Up </a>
        <a> Retreive Password </a>
    </div>
</div>