<link rel="stylesheet" href="/css/user-options.css" />

<div id="user-options-popup">
    <% include transparent-black-background %>
    <div id="user-options">
        <a href="/login"> Login </a>
        <a href="/sign-up"> Sign Up </a>
        <a> Retreive Password </a>
    </div>
</div>
